//All functions here:
@mixin flexCenter($direction, $background) {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: $direction;
    background: $background;
}

@mixin mainboxSettings {
    height: 50vh;
}

@mixin DirectionBackground($direction, $background) {
    display: flex;
    flex-direction: $direction;
    background: $background;
}