<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Document</title>
</head>
<body>
    <h1>Hello!</h1>
    <form action="/login" method="post">
        <input type="text" name="uName" placeholder="Namn">
        <input type="password" name="uPassword" placeholder="Pass">
        <!-- <input type="email" name="email" placeholder="example@email.com">
        <input type="number" name="age" placeholder="33">
        <textarea name="comment">Enter text here...</textarea> -->
        <button type="submit">Okej</button>
    </form>

    

    <!-- <% for( let i = 0; i < nameList.length; i++ ) { %>
        <p><%- nameList[i] %> </p>
    <% } %> -->

</body>
</html>

